@import "tailwindcss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeZoomIn {
    0% {
    opacity: 0;
    scale: 70%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes rotate1 {
  0% {
    rotate: -45deg;
  }
  100% {
    rotate: 315deg;
  }
}
@keyframes rotate2 {
  0% {
    rotate: -40deg;
  }
  100% {
    rotate: 320deg;
  }
}
@keyframes rotate3 {
  0% {
    rotate: -35deg;
  }
  100% {
    rotate: 325deg;
  }
}
@keyframes rotate4 {
  0% {
    rotate: -30deg;
  }
  100% {
    rotate: 330deg;
  }
}

@keyframes smallJiggle {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1px);
  }
  40% {
    transform: translateY(1px);
  }
  60% {
    transform: translateY(-0.5px);
  }
  80% {
    transform: translateY(0.5px);
  }
  100% {
    transform: translateY(0);

  }
}
@keyframes bigJiggle {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(.7px);
  }
  40% {
    transform: translateY(-.7px);
  }
  60% {
    transform: translateY(.3px);
  }
  80% {
    transform: translateY(.3px);
  }
  100% {
    transform: translateY(0);

  }
}

@keyframes processComplete {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@theme {
  --animation-process-complete: processComplete 1.5s ease .6s forwards;
  --animation-fade-in: fadeIn 1.5s ease forwards;
  --animation-fade-in-delay: fadeIn 1.5s ease .6s forwards;
  --animation-rotate-slow1: rotate1 100s linear infinite;
  --animation-rotate-slow2: rotate2 90s linear infinite;
  --animation-rotate-slow3: rotate3 80s linear infinite;
  --animation-rotate-slow4: rotate4 70s linear infinite;
  --animation-rotate-fast: rotate1 30s linear infinite;
  --animation-rotate-fastest: rotate1 10s linear infinite;
  --animation-small-jiggle: smallJiggle 2s ease infinite;
  --animation-big-jiggle: bigJiggle 2s ease infinite;
  --animation-small-jiggle-delay: smallJiggle 2s ease 1.2s infinite;
  --animation-fade-zoom-in: fadeZoomIn .3s ease forwards;
  --animation-fade-zoom-in-reverse: fadeZoomIn .3s ease reverse forwards;
}


.animate-rotate-slow1 {
  animation: var(--animation-rotate-slow1);
}
.animate-rotate-slow2 {
  animation: var(--animation-rotate-slow2);
}
.animate-rotate-slow3 {
  animation: var(--animation-rotate-slow3);
}
.animate-rotate-slow4 {
  animation: var(--animation-rotate-slow4);
}
.animate-rotate-fast {
  animation: var(--animation-rotate-fast);
}
.animate-rotate-fastest {
  animation: var(--animation-rotate-fastest);
}

.animate-process-complete {
  animation: var(--animation-process-complete);
}
.animate-fade-in {
  animation: var(--animation-fade-in);
}
.animate-fade-zoom-in {
  animation: var(--animation-fade-zoom-in);
}
.animate-fade-zoom-in-reverse {
  animation: var(--animation-fade-zoom-in-reverse);
}

.animate-small-jiggle {
  animation: var(--animation-small-jiggle);
}
.animate-small-jiggle-delay {
  animation: var(--animation-small-jiggle-delay);
}
.animate-big-jiggle {
  animation: var(--animation-big-jiggle);
}

body {
  overflow-x: hidden;
}

